@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    
    font-family: 'Poppins', sans-serif;  
  background-color: #f2f2f2;
  background-color: rgb(2, 64, 66);
}

.section-cards {
  height: 100vh;
  padding: 50px 0;
  overflow: hidden;
}
.section-cards .cards__container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.section-cards .cards__list {
  display: flex;
  justify-content: space-between;
}

.section-cards .card {
  width: 32%;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  margin-top: 30px;
  transition: box-shadow 0.2s linear;
}
.section-cards .card:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.section-cards .card .card-top{
  position: relative;
  overflow: hidden;
  background-color: aqua;
  padding: 10px;
}
.section-cards .card .top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s linear;
}
.section-cards .card:hover .top::before {
  opacity: 1;
  z-index: 2;
}

.section-cards .card .img-card {
  max-width: 100%;
  display: block;
  transition: transform 0.2s ease-in;
}
.section-cards .card:hover .img-card {
  transform: scale(1.3) translateX(22px);
}

.section-cards .card .btn {
  position: absolute;
  left: 5px;
  top: -40px;
  border-radius:50%;
  background-color: #fff;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 40px;
  color: #333;
  transition: top 0.2s linear;
  z-index: 3;
}
.section-cards .card .btn:hover {
  color:aqua;
  background-color: black;
}
.section-cards .card:hover .btn-linkedin {
  transition-delay: 0.1s;
  top: 5px;
}
.section-cards .card:hover .btn-github {
  transition-delay: 0.2s;
  top: 45px;
}
.section-cards .card:hover .btn-facebook {
  transition-delay: 0.3s;
  top: 85px;
}
.section-cards .card:hover .btn-instagram {
    transition-delay: 0.3s;
    top: 125px;
  }

  .section-cards .card:hover .btn-twitter {
    transition-delay: 0.3s;
    top: 165px;
  }

  .section-cards .card:hover .btn-youtube {
    transition-delay: 0.3s;
    top: 205px;
  }

.section-cards .card .btn .icon {
  font-size: 25px;
}

.section-cards .card .card-bottom {
  text-align: center;
 background-color: lightcyan;
  padding: 10px 5px;
}
.section-cards .card .card-name {
  font-size: 20px;
  color: rgb(3, 27, 25);
}
.section-cards .card .card-age {
  margin-top: 7px;
}
.section-cards .card .card-age span {
  font-size: 16px;
}
.section-cards .card h6 {
    font-size: 12px;
    margin-top: 6px;
    color:rgb(67, 85, 85);
  }

@media only screen and (max-width: 400px) {
  .section-cards {
    height: auto;
  }
  .section-cards .cards__container {
    max-width: 300px;
  }
  .section-cards .cards__list {
    display: block;
  }
  .section-cards .cards__list .card {
    width: 100%;
  }
}
