.video__container {
  position: absolute;
  background: #333;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.video__container.play {
  z-index: 30;
}
.video__container.show_video {
  opacity: 1;
  transition-delay: 0.2s;
}
.video__container i {
  color: var(--white);
  position: absolute;
  top: 25px;
  font-size: 38px;
  line-height: 38px;
  font-weight: 300;
  transition: transform 0.5s ease-in-out 0.2s, right 0.3s ease-in-out 0.2s;
  transform: rotate(360deg);
  right: -100px;
  z-index: 40;
  cursor: pointer;
}
.video__container.show_video i {
  right: 130px;
  transform: rotate(0deg);
}
.video__container.show_video i:hover {
  transform: scale(1.15);
  transition-delay: 0s;
  color: var(--yellow);
}
.video__container video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
