html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body {
    height: 100%; width: 100%;
  }
  
  body {
    margin: 0; padding: 0;
    background: #000;
  }
  
    main {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      padding: 60px 15px;
      transition: all 0.25s ease;
 }

  div {
    width: 100%;
    height: 300px;
    margin-top: 60px;
}

 img {
     width: 100%;
     height: 100%;
 }