* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 85vw;
}

.image {
  height: 80vh;
  position: relative;
  flex: 0.5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  cursor: pointer;
  margin: 8px;
  border: 1px solid rgb(32, 28, 28);
  transition: all 700ms ease-in;
  box-shadow: 0 4px 16px rgb(255, 252, 252) inset;
}

.image.active {
  flex: 3;
}

.image:nth-of-type(1) {
  background-image: url("img/pexels-krivec-ales-547120.jpg");
}

.image:nth-of-type(2) {
  background-image: url("img/pexels-pixabay-36478.jpg");
}

.image:nth-of-type(3) {
  background-image: url("img/pexels-baskin-creative-studios-1766838.jpg");
}

.image:nth-of-type(4) {
  background-image: url("img/pexels-ákos-szabó-440731.jpg");
}

.image:nth-of-type(5) {
  background-image: url("img/pexels-felix-mittermeier-957039.jpg");
}
.image:nth-of-type(6) {
  background-image: url("img/pexels-eberhard-grossgasteiger-454880.jpg");
}
