* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #033632;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container {
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  white-space: nowrap;
}

.card {
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
  position: relative;
  background: #066152;
  color: aqua;
  font-weight: bolder;
  font-size: 20px;
  width: 420px;
  height: 500px;
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 0 11px 26px 1px #0000004a, inset 0 -16px 90px #4d0d0640;
}

.card h2 {
  margin: 0;
  width: 100%;
  font-size: 30px;
  background: #1089c2;
  padding: 20px 0;
  color: #EDDDD4;
  box-shadow: inset 0px 5px 4px -4px #ecddd461;
}

.card h3 {
  margin: 20px 0;
  font-size: 60px;
  text-shadow: 3px 2px 2px #283d3b38;
}

.card p {
  font-style: italic;
  margin: 0 0 30px 0;
}

.card ul {
  text-align: left;
  padding: 0 50px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.card ul li {
  display: block;
}

.card ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* - - - icons - - -  */

.fa-circle-check {
  margin-right: 10px;
  color: rgb(6, 226, 6);
  font-size: 20px;
}

.fa-circle-xmark {
  margin-right: 10px;
  color: rgb(141, 0, 0);
  font-size: 20px;
}

.card .buy {
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 40px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  background: aqua;
  color: black;
  font-size: 15px;
  font-weight: bolder;
  font-family: inherit;
  box-shadow: 0 8px 18px 4px #283d3b4d;
  transition: all 0.3s ease;
  border: 2px solid aqua;
}

.card .buy:hover {
  background-color: inherit;
  border: 2px solid aqua;
  color: aqua;
}

.card-1,
.card-3 {
  position: relative;
  transform: scale(0.9);
}

.card-1 {
  left: 40px;
  margin-left: -60px;
  z-index: 0;
}

.card-1 h2 {
  background: #af2398;
}

.card-2 {
  z-index: 1;
}

.card-3 {
  left: -40px;
  margin-right: -60px;
  z-index: 0;
}

.card-3 h2 {
  background: #047012;
}