body {
  background: rgb(2, 51, 51);
  font-family: sans-serif;
  color: aqua;
  font-weight: bold;
}

#loan-container {
  width: 350px;
  height: 450px;
  background-color: rgb(0, 0, 0);
  padding: 0 10px 30px;
  margin: 40px auto;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid aqua;
  overflow: hidden;
}

h1 {
  padding: 20px 0;
  text-align: center;
  font-size: 32px;
  margin-bottom: 35px;
  border-bottom: 2px solid aqua;
  width: 120%;
}

.input {
  font-weight: bold;
  margin: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: 17px;
  text-align: center;
}
input {
  border: 2px solid aqua;
  background-color: gainsboro;
  width: 70%;
  outline: none;
  padding: 10px;
}
.month-pay {
  width: 35px;
  padding: 8px;
  user-select: none;
}

h2 {
  text-align: center;
  margin-top: 35px;
}
