* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family:cursive;
  background-color: black;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  width: 400px;
  background-color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  border: 1px solid aqua;
}
.header {
  padding: 1rem;
}
.password_part {
  width: 100%;
  height: 70px;
  color: gainsboro;
  background-color: rgb(9, 9, 10);
  border: 1px solid aqua;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
  padding: 1rem;
}

#copy {
  margin-left: auto;
  color: aqua;
}
.generate_form {
  padding: 0 1rem 1rem;
}
.form-control {
  color: #eee;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
  color: aqua;
  font-weight: bolder;
}

#length {
  width: 45px;
}

input {
  background-color: aqua;
  border: none;
}

input[type="checkbox"] {
  accent-color: aqua;
}

.generate {
  width: 90%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  background-color: #292928;
  color: aqua;
  font-weight: bold;
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 1.7rem;
  margin-bottom: 0.8rem;
  border: none;
  border: 2px solid aqua;
  transition: all 0.2s ease-out;
}
.generate:hover {
  opacity: 0.6;
}
