* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: fantasy;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.right-slide__part {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 30%;
  transition: transform 0.6s ease-in-out;
}

.right-slide__part > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100%;
  width: 100%;
}

.right-slide__part div:nth-child(1) {
  background-color: #58dd3a;
}

.right-slide__part div:nth-child(2) {
  background-color: #526db8;
}

.right-slide__part div:nth-child(3) {
  background-color: #16b761;
}

.right-slide__part div:nth-child(4) {
  background-color: black;
}

.right-slide__part div:nth-child(5) {
  background-color: #1f2c33;
}

.right-slide__part h1 {
  font-size: 40px;
  margin-top: 220px;
  font-size: 14px;
  padding: 20px;
}
.left-slide__part {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  transition: transform 0.5s ease-in-out;
}

.slide_1 {
  background-image: url("img_1/tesla.jpg");
}

.slide_2 {
  background-image: url("img_1/bmw_1.jpg");
}

.slide_3 {
  background-image: url("img_1/audi_pic.webp");
}

.slide_4 {
  background-image: url("img_1/geigercars-chevrolet-camaro.jpg");
}

.slide_5 {
  background-image: url("img_1/mersedes_car.jpg");
}
.left-slide__part > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  opacity: 0.7;
}

.container .buttons_part button {
  position: absolute;
  right: 26.4%;
  top: 50%;
  z-index: 2;
}

.container .buttons_part .btn_down {
  transform: translateX(-100%);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 95px;
}

.container .buttons_part .btn_up {
  transform: translateY(-100%);
  border-top-right-radius: 95px;
  border-bottom-right-radius: 50%;
}
